@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #559de5;
  --color-primary-light: #66abf5;
  --color-primary-lighter: #81c3ff;
  --color-accent: #eaa65d;
  --color-accent-light: #ffc97d;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}
